{% set needHr = false %}
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
        {% set needHr = true %}
    </div>
{% endfor %}

{% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ message }}
        {% set needHr = true %}
    </div>
{% endfor %}

{% if needHr == true %}
    <hr>
{% endif %}